.box {
  content: "";
  height: 100px;
  width: 100px;
  border: 1px solid #000;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-size: 1.25rem;
  background-color: #cccccc;
}

.box:hover {
  font-weight: bold;
}

.selected {
  border: 2px solid #F00;
}