/* Grid for Store Items */
.grid-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.unlist {
  margin: 0;
  margin-top: 12px;
  padding: 0;
  list-style: none;
}

.hidden {
  display: none;
}