*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.globe {
  margin: 12px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  border: 1px solid #000;
  border-radius: 100%;
}